# start with:
#   docker compose up
# delete volumes with:
#   docker compose down -v 
# https://docs.docker.com/guides/pre-seeding/
services:

  db:
    image: local:transport-db
    ports:
      - "5432:5432"
    shm_size: 128mb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: transport_repo
    # NOTE: we're using a opaque native Docker volume
    # instead of a host machine bind mount, for performance reasons
    volumes:
    - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
